html,
body{
  overflow: visible  ;
  padding: 0;
  margin: 0;
  width: 100%; height: 100%;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 20px;
}
div{
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}


html {
  /* overflow: hidden; */
  /* IE 이거나 Firefox 브라우저의 경우 */
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* 스크롤 부자연스러움 해결 */
  -webkit-overflow-scrolling: touch;
}

/* Chrome 이나 Safari 브라우저 */
html::-webkit-scrollbar { 
  display: none;
  /* width: 0 !important; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 애니메이션 테스트 */

section {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
section div {
  background-color: #ff9800;
  width: 23%;
  height: 300px;
}


table{
  font-size: 6px;
  width: 100%;
}
td{
  border: 1px solid #444444;
}
@media all and (max-width: 768px){
  body{
    font-size:14px;
  }
}
